html {
    font-size: 24px;
}

.container h1 {
    text-align: center;
}

body {
    background-color: bisque;
}

.container {
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    padding-top: 0.1rem;
    width: 24rem;
    margin: 0 auto;
    border-radius: 8px;
}

.Btns {
    display: flex;
    /* background-color: blue; */
    flex-direction: column;
    gap: 0.5rem;
    border: 0;
}

.Btns input {
    margin-top: 0.5rem;
    display: flex;
    gap: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.Btns button {
    padding: 0.5rem;
    border-radius: 8px;
    border: 0;
    background-color: rgb(218, 178, 255);
    transition: background-color 0.2s ease;
    cursor: pointer;
} 

.register-link {
    text-align: center;
    margin-top: 0rem;
}

.Submit:hover {
    background-color: rgb(176, 105, 243);
}